!... all target ~/.Xresources
!... main begin
!... main hash 6A1FD9ACD6C44CB257FCE11473F1281A68DF85AAE11903CF60977F566BEE7265

URxvt.scrollBar: false
URxvt.perl-ext-common: resize-font
Xcursor.size: 16

*.background: #282C34
*.foreground: #ABB2BF

!black
*color0: #3F4451
*color8: #4F5666

!red
*color1: #E05561
*color9: #FF616E

!green
*color2: #8CC265
*color10: #A5E075

!yellow
*color3: #D18F52
*color11: #F0A45D

!blue
*color4: #4AA5F0
*color12: #4DC4FF

!magenta
*color5: #C162DE
*color13: #DE73FF

!cyan
*color6: #42B3C2
*color14: #4CD1E0

!white
*color7: #D7DAE0
*color15: #E6E6E6

URxvt.font: xft:Fira Code Nerd Font Mono:size=13

!... main end


xterm*faceName:       Fira Code Nerd Font Mono
xterm*faceSize:       12



