[Desktop Entry]
Type=Application
Name=Spottoggle
GenericName=Music Player
Icon=spotify-client
TryExec=spoticli
Exec=spotify %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify