[Desktop Entry]
Type=Application
Name=Spottoggle
GenericName=Music Pause
Icon=spotify-client
TryExec=spoticli
Exec=spoticli
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify